@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&family=Stack+Sans+Text:wght@200..700&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body{
    font: "Noto Sans JP", sans-serif ;
    font-size: 20px;
    background-color: #f7f79c;
    height: 100%;
    width: 100%;
    overflow: auto;
}

body::-webkit-scrollbar {
    display: none;
}

h1 {
    margin: 2rem;
    padding: 5px;
    text-align: center;
}

h1::after {
    content:" ";
    display: block;
    width: 50%;
    height: 3px;
    background-color: black;
    margin-top: 3px;
    margin-left: auto;
    margin-right: auto;
}

.grid-container {
    background-color: #eee;
    max-width: 900px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: 100px 200px 300px;
    gap: 10px;
    justify-items: stretch;
    align-items: stretch;

}

.grid-container > div {
    background-color: #ccc;
    text-align: center;
    text-justify: center;
    padding: 20px;
    border: 5px solid #777;
}


.grid-container > div:nth-child(1) {
    grid-column: 1 / span 2;
}

.grid-container > div:nth-child(2) {
    grid-column: 3 / span 3;
}

.grid-container > div:nth-child(3) {
    grid-column:  span 1;
}

.grid-container > div:nth-child(4) {
    grid-column: 1/ span 3;
    align-self: end;
    height: 100%;
}
.grid-container > div:nth-child(5) {
    grid-column:  span 3;
}

.grid-container > div:nth-child(6) {
    grid-column: span 6;
    /* justify-self: start; */
    align-self: start;

}

