@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap");

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Poppins";
}

ul , li  {
    padding: 0 ; 
    list-style-type: none;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
}

header {
    text-align: center;
    grid-column: span 3;
    padding: 20px;
    border-bottom: 3px solid #ddd;
}

nav {
    padding: 30px;
    border-right: 2px solid #ddd;
    margin-right: 10px;
}

nav li {
    text-decoration: underline;   
}

article h2 {
    font-size: 3em;
    max-width: 800px;
}

article img {
    width: 100%;
    height: 550px;
    object-fit: cover;
}

article p {
    margin-top: 30px;
    line-height: 2em;
    color: #000;
}

aside {
    padding: 30px;
    border-left : 2px solid #ddd;
    margin-left: 10px;
}
footer {
    text-align: center;
    grid-column: span 3;
    padding: 30px;
    border-top: 2px solid #ddd;
}

nav, article, aside {
    transition: all 0.3s ease;
}

/*responsive*/
@media screen and (max-width: 1200px) {
    nav {
        grid-column: span 3;
        border-right: 0;
        border-bottom: 2px solid #ddd;
        padding: 20px;
    }
    
    nav ul {
        display: flex;
        flex-wrap: wrap;
        gap: 15px;
        justify-content: center;
    }
    
    nav li {
        display: inline-block;
        padding: 8px 15px;
        background: #f5f5f5;
        border-radius: 5px;
    }
    
    article {
        grid-column: span 2;
        padding: 20px;
        margin: 0 auto;
        max-width: 100%;
    }
    
    article img {
        height: 400px; 
    }
}

@media screen and (max-width: 908px) {
    nav, article, aside {
        grid-column: span 3;
    }
    
    nav ul {
        flex-direction: column;
        align-items: center;
    }
    
    article {
        padding: 15px;
    }
    
    article img {
        height: 300px;
    }
    
    article h2 {
        font-size: 1.8em; 
        text-align: center;
    }
    
    aside {
        border-left: 0;
        border-top: 2px solid #ddd;
        text-align: center;
    }

    footer {
        padding: 20px;
    }
}

@media screen and (max-width: 480px) {
    header h1 {
        font-size: 1.5em;
    }
    
    article h2 {
        font-size: 1.4em;
    }
    
    article img {
        height: 200px;
    }
    
    .grid-container {
        grid-template-columns: 1fr;
    }
}