@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;500;600;800&family=VT323&display=swap");


:root {
    --background: #1a1a2e;
    --text-h: #eeefff; 
    --text-p: #eee;
    --border: #bbc7c7;
}


body {
  margin: 20px;
  font-family: "Poppins";
  background: var(--background);
}
ul,
li {
  padding: 0;
  list-style-type: none;
}
h1,
h2,
h3 {
  color: var(--text-h);
}
p {
  color: var(--text-p);
}

header {
  max-width: 1400px;
  margin: 40px auto;
  border-bottom: 3px solid var(--border);
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 60px;
  max-width: 1200px;
  margin: 20px auto;
  padding: 10px;
}

article.featured {
  grid-column: span 3;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 60px;
  align-items: center;
  border-bottom: 1px solid var(--border);
  padding-bottom: 40px;
}

article img,
article.featured img {
  width: 100%;
  height: 400px;
  object-fit: cover;
  border: 4px solid var(--border);
  border-radius: 8px;
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.3);
}


article.featured img {
    height: 550px;
}
article p,
article h3 {
  margin: 20px 10px;
}

article h3 {
    border-bottom: 2px solid var(--border);
    text-align: center;
    padding: 5px;
}

article {
    padding: 20px;
}

/* responsive styles */

@media screen and (max-width: 980px) {
  article {
    grid-column: span 3;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 60px;
    align-items: center;
  }
}

@media screen and (max-width: 760px) {
  article,
  article.featured {
    display: block;
    margin: 0 20px;
  }
}
